/* ANIMACIONES */ 
@-webkit-keyframes animacion{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0px;
  }
}

/* ESTILOS GENERALES */
body {
  font-family: 'Pangolin', sans-serif;
}

a{
  text-decoration: none;
  padding: 0.2em;
  display: block;
}

a:link{
  color: #bebebe;
  text-align: right;
  font-weight: bold;
}

a:visited{
  color: rgb(189, 46, 20);
}

ul {
     margin: 0px;
     padding: 0px;
}
li {
     margin: 0px;
     padding: 0px;
}

/* CABECERA */
header {
  width: 100%;
  padding: 1em;
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  transition: 2s;
  animation: animacion 2s;
}

    header > h1 {
      color: white;
      text-transform: capitalize;
      text-shadow: 2px 2px #02010a;
      display: inline-flex;;
      font-variant: small-caps;
      font-weight: bold;
    }

    header > nav {
      display: inline-flex;
    }

    header > nav > ul {
      list-style: none;
    }

    header > nav > ul > li{
      padding: 0.2em 2em;
      background: linear-gradient(to bottom, black 0%,#687a84 100%);
      box-shadow: 3px 5px 10px 0 rgb(200, 199, 188);
      border-radius: 15px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
    }

    header > nav > ul > li:hover{
      background: white;
      color: #000;
      font-style: italic;
    }

/* CONTENIDO */

#contenido{
  width: 100%;
  margin: auto 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

#contenido > .imagenCentral {
  width: 100%;
  background: #82c3a6;
  justify-content: center;
}


#contenido > .imagenCentral > figure > img {
  margin: auto;
  display: block;
  width: 80%;
  }

#contenido > .imagenCentral > figure > figcaption{
    margin: auto;
    display: block;
    width: 80%;
    position: relative;
    background-color: #ccc;
    bottom: 6vh;
  }


  #contenido > .imagenSecundaria {
    width: 100%;
    background: #d5c75f;
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    flex: 1 1 90%;
  }

#contenido > .imagenSecundaria > div[class^='enlace']{
    padding: 1em 2em;
    width: 100%;
    box-sizing: border-box;
  }

  #contenido > .imagenSecundaria img {
    margin: auto;
    display: block;
    width: 80%;
  }

  #contenido > .imagenSecundaria > .enlace-paisajes > img:hover{
    transform: rotate(10deg);
    transition: .8s;
    box-shadow: 2px 2px 5px #82c3a6;
    border: 2px solid black;
  }

  #contenido > .imagenSecundaria > .enlace-retratos > img:hover{
    transform: translate(20px, -5px);
    transition: .5s;
    box-shadow: 2px 2px 5px #82c3a6;
    border: 2px solid black;
}

#contenido > .galeria {
  width: 100%;
  background: #d5c75f;
}

#contenido tr {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#contenido td {
  width: 100%;
}

#contenido td > img {
  margin: auto;
  display: block;
  width: 90%;
  padding: 1.2em;
}

#contenido tr:first-child > td:nth-child(even) > img,
tr:last-child > td:nth-child(odd) > img{
  -webkit-filter: grayscale();
  filter: grayscale();
}

#contenido tr:first-child > td:first-child > img {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  }

  #contenido tr:first-child > td:last-child > img {
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
    }

footer {
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  background: #C6d5c5;
  padding: 2em;
  box-sizing: border-box;
}


@media (min-width: 768px) {

  #contenido > .imagenSecundaria {
    flex-flow: row;
    flex: 1 1 40%;
  }

  #contenido > .imagenSecundaria img {
    height: 100%;
  }

  #contenido img {
    height: 100%;
  }

  #contenido tr {
    flex-direction: row;
  }

  #contenido td {
    margin: auto;
    display: block;
    flex-basis: 30%;
  }

  #contenido td > img {
    margin: auto;
    display: block;
    width: 90%;
    padding: 1.2em;
  }

  footer {
    flex-flow: row;
  }

  footer > div[class^='foot']{
      padding: 1em;
      flex-grow: 1 1 25%;
  }

}
